*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Josefin Sans', sans-serif;
    overflow-y: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:30px;
    color: white;
    
}

.login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-top-left-radius: 90px;
    height: 40%;
    width: 16%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.363);
}

.login form input{
    outline: none;
    padding: 5.5px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
}

.login form .logo{
   display: flex;
}
.login form .logo #pass{
    width: 94.5%;
}
.login form .logo i {
    font-size: 27px;
    position: absolute;
    right: 39.5%;
    cursor: pointer;
    transition:  transform 0.5s, 0.5s;
}
.login form .logo i:hover {
    transform: scale(1.1);
}
 .logo #hidePass {
    display: none;
    
}
.login #regist{
    height: 50%;
}
.login form a {
    text-decoration: none;
    color: white;
}
.login button {
    background-color: #a18e8e;
    padding: 5.5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
canvas {
    position: relative;
    bottom: 600px;
    pointer-events: none;
}
.gradient-background {
    background: linear-gradient(74deg,#615567,#685968,#474047,#544754);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient {
    background: linear-gradient(74deg,#323032,#554855,#322c32,#3b333b);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }